# Database Configuration
DB_DDL_AUTO=create-drop
DB_URL=jdbc:mysql://localhost:3306/database_name?useSSL=true&serverTimezone=UTC
DB_USERNAME=username
DB_PASSWORD=password

# Email Configuration
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_email_password

# JWT Configuration
JWT_SECRET_KEY=your_secret_key_here
JWT_EXPIRATION_TIME=86400000
JWT_REFRESH_EXPIRATION_TIME=604800000
JWT_ISSUER=asist.io
JWT_AUDIENCE=asist.io-client
JWT_ACCESS_TOKEN_EXPIRATION=900

# JWT Keys Configuration
JWT_KEY_DIRECTORY=config/keys
JWT_PRIVATE_KEY_FILE=jwt_private.key
JWT_PUBLIC_KEY_FILE=jwt_public.key
JWT_KEY_ARCHIVE_PREFIX=archived_key_

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379